{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>{% include "website/sections/head.html" %}</head>
  <body class="font-sans text-gray-800 antialiased bg-gray-50">
    <!-- Header with Navigation -->
    {% include "website/sections/navbar.html" %}
    <!-- HERO -->
    <section class="hero">
      <img src="{% static 'img/Graduation.jpg' %}" alt="Graduates throwing caps">
    </section>
    <!-- PARTNER INTRO -->
    <section class="index__flex-col">
      <div class="index__style-1">
        <h2 class="index__style-2">
          PARTNER WITH
          <br>
          NEXTGEN SCHOLARS
        </h2>
        <p class="index__style-3">
          We look forward to working with you to unlock the full potential of your students
          and open gates to global university and career resources.
        </p>
      </div>
    </section>
    <!-- OUR PROGRAMS -->
    {% include "website/sections/our_programs.html" %}
    <!-- FOUNDER STORY -->
    <section id="founder" class="index__flex-col-c73a">
      <!-- Title -->
      <h2 class="section_title index__text-center">Founder Story</h2>
      <!-- Content Grid -->
      <div class="wrap index__grid-cols">
        <!-- Left: Founders 2x2 -->
        <div class="index__grid-cols-c348">
          <!-- Valerie -->
          <div class="index__text-center-1307">
            <img src="{% static 'img/founders/HailanReal.jpg' %}"
                 alt="Valerie Zhou"
                 class="index__circle">
            <div class="index__style-4">Valerie Zhou</div>
          </div>
          <!-- Paul -->
          <div class="index__text-center-1307">
            <img src="{% static 'img/founders/PaulReal.jpg' %}"
                 alt="Paul Chiu"
                 class="index__circle">
            <div class="index__style-4">Paul Chiu</div>
          </div>
          <!-- Scarlett -->
          <div class="index__text-center-1307">
            <img src="{% static 'img/founders/WeixinReal.png' %}"
                 alt="Scarlett Sampson"
                 class="index__circle">
            <div class="index__style-4">Scarlett Sampson</div>
          </div>
          <!-- Nancy -->
          <div class="index__text-center-1307">
            <img src="{% static 'img/founders/NancyReal.jpeg' %}"
                 alt="Nancy Wu"
                 class="index__circle">
            <div class="index__style-4">Nancy Wu</div>
          </div>
        </div>
        <!-- Right: Story -->
        <div class="index__style-5">
          <p class="section_paragraph index__style-6">
            NextGen Scholars is a forward-thinking organization dedicated to transforming education by equipping
            both educators and students with the tools and support needed for success in a rapidly evolving,
            globalized world.
          </p>
          <p class="index__style-7">
            Based in key cities around the globe—San Francisco, Melbourne, Hong Kong, Taiwan, and the Greater Bay
            Area of China—NextGen Scholars was founded by a passionate group of educators, tech leaders, and
            industry professionals who share a vision to redefine education for the future.
          </p>
          <p class="index__style-7">
            Our founders bring decades of expertise in technology, business, creative arts, STEM and global
            education, empowering educators and students alike to succeed and thrive in an ever-changing world.
          </p>
          <p class="index__style-8">
            By reaching out to global industry leaders, educators and students worldwide, we aim to create a
            collaborative and supportive community that equips the next generation with the knowledge, skills,
            and confidence to thrive in a rapidly evolving world.
          </p>
        </div>
      </div>
    </section>
    <!-- HERO -->
    <section class="hero">
      <img src="{% static 'img/brian.jpg' %}" alt="Graduates throwing caps">
    </section>
    <!-- PARTNER WITH US -->
    {% include "website/sections/partner_with_us.html" %}
    <!-- INDEX FORM -->
    {% include "website/sections/index_form.html" %}
    <!-- GLOBAL COMMUNITY -->
    {% include "website/sections/global_community.html" %}
    <!-- INSPIRES -->
    {% include "website/sections/inspires.html" %}
    <!-- Social Media-->
    {% include "website/sections/media.html" %}
    <!-- Customer Service Button -->
    {% include "website/sections/customer_service.html" %}
    <!-- Footer -->
    {% include "website/sections/footer.html" %}
    <!-- JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
