{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>{% include "website/language/en/sections/head.html" %}</head>
  <body class="font-sans text-gray-800 antialiased bg-gray-50">
    <!-- Header with Navigation -->
    {% include "website/language/en/sections/navbar.html" %}
    <!-- HERO -->
    <section class="hero section-font-style">
      <img src="{% static 'img/Graduation.jpg' %}" alt="Graduates throwing caps">
    </section>
    <!-- NGS COLLEGE COUNSELING TEAM -->
    {% include "website/language/en/sections/college_counseling.html" %}
    <!-- NGS COLLEGE MENTORSHIP PROGRAM -->
    {% include "website/language/en/sections/mentorship.html" %}
    <!-- GLOBAL APPLICATION -->
    {% include "website/language/en/sections/global_application.html" %}
    <!-- GLOBAL COMMUNITY -->
    {% include "website/language/en/sections/global_community.html" %}
    <!-- INSPIRES -->
    {% include "website/language/en/sections/inspires.html" %}
    <!-- Social Media-->
    {% include "website/language/en/sections/media.html" %}
    <!-- Customer Service Button -->
    {% include "website/language/en/sections/customer_service.html" %}
    <!-- Footer -->
    {% include "website/language/en/sections/footer.html" %}
    <!-- JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
