{% load static %}
<!-- PARTNER WITH US -->
<section class="partner-with-us partner-with-us__flex-center section-font-style">
  <div class="wrap partner-with-us__flex-col">
    <!-- Title -->
    <h2 class="section_title partner-with-us__text-center">Partner with Us</h2>
    <!-- Cards grid -->
    <div class="partner-with-us__grid-cols">
      <!-- Card 1 -->
      <a href="{% url 'cclr_programs_en' %}" class="partner-with-us__style-1">
        <div class="partner-with-us__flex-col-c672">
          <h3 class="section_subtitle partner-with-us__style-2">
            Career College Life Readiness Programme
          </h3>
          <div class="intro-hybrid__style-2"></div>
          <ul class="partner-with-us__style-3">
            <li>Career Readiness</li>
            <li>College Readiness</li>
            <li>Life Readiness</li>
            <li>Global Competency</li>
          </ul>
        </div>
      </a>
      <!-- Card 2 -->
      <a href="{% url 'hybrid_learning_en' %}" class="partner-with-us__style-1">
        <div class="partner-with-us__flex-col-5afc">
          <h3 class="section_subtitle partner-with-us__style-2">
            Partnership
            <br />
            Programmes
          </h3>
          <div class="intro-hybrid__style-2"></div>
          <ul class="partner-with-us__style-3">
            <li>Hybrid Program</li>
            <li>Dual-track Program</li>
            <li>Online Diploma Program</li>
            <br>
          </ul>
        </div>
      </a>
      <!-- Card 3 -->
      <a href="{% url 'ngs_inspires_en' %}" class="partner-with-us__style-1">
        <div class="partner-with-us__flex-col-5afc">
          <h3 class="section_subtitle partner-with-us__style-2">
            NextGen
            <br />
            Inspires
          </h3>
          <div class="intro-hybrid__style-2"></div>
          <ul class="partner-with-us__style-3">
            <li>Global Industry Leaders</li>
            <li>Global Universities</li>
            <li>SPARK LAB</li>
            <li>Global Alumni</li>
          </ul>
        </div>
      </a>
      <!-- Card 4 -->
      <a href="{% url 'ngs_connects_en' %}" class="partner-with-us__style-1">
        <div class="partner-with-us__flex-col-5afc">
          <h3 class="section_subtitle partner-with-us__style-2">
            NextGen
            <br />
            Connects
          </h3>
          <div class="intro-hybrid__style-2"></div>
          <ul class="partner-with-us__style-3">
            <li>School Visits</li>
            <li>School Reports</li>
            <li>Growth Mapping</li>
            <li>Academic Clinics</li>
          </ul>
        </div>
      </a>
    </div>
  </div>
</section>
