{% load static %}
<section class="comprehensive__flex-center section-font-style_zh">
  <div class="k12-school__flex-col">
    <!-- Title -->
    <h2 class="section_title comprehensive__text-center">全面量身定制的课程</h2>
    <!-- Content -->
    <div class="comprehensive__grid-cols">
      <!-- Left: Student image -->
      <div class="intro-hybrid__flex-center">
        <img alt="学生"
             src="{% static 'img/smilegirl.jpg' %}"
             class="comprehensive__rounded" />
      </div>
      <!-- Right: Text Content -->
      <div class="comprehensive__flex-col">
        <div class="comprehensive__style-1">
          <h3 class="section_subtitle comprehensive__style-2">个性化辅导</h3>
          <p class="section_paragraph comprehensive__style-3">
            没有千篇一律的教学或一刀切的课程。每个学生都是独特的学习者。
            <br>
            在NGS, 我们提供入学评估, 设计个性化学习计划,提供实时跟踪, 并定期提供反馈, 以支持您的每一步成长。
          </p><br>
          <h3 class="section_subtitle comprehensive__style-2">明确的学习目标</h3>
          <p class="section_paragraph comprehensive__style-3">
            无论你的目标是提前打好学科基础、实现短期分数提升, 还是在考试准备方面表现出色, NGS导师都会根据你的具体目标制定学习计划。
          </p><br>
          <h3 class="section_subtitle comprehensive__style-2">涵盖的热门主题</h3>
          <p class="section_paragraph comprehensive__style-4">NGS为IB、A-Level、AP、IGCSE、VCE课程中的大多数科目提供一对一辅导。</p>
        </div>
        <div class="comprehensive__text-center-c30c">
          <a href="{% url 'admissions_zh' %}" class="comprehensive__bg-dark">预约试听课</a>
        </div>
      </div>
    </div>
  </div>
</section>
