{% load static %}

<!-- 高中国际文凭课程 -->
<section class="addmissions-plans__flex section-font-style_zh">
  <div class="addmissions-plans__flex-col">
    <!-- 标题 -->
    <h2 class="section_title addmissions-plans__style-12">高中国际文凭课程</h2>
    <!-- 课程标签 -->
    <div class="addmissions-plans__flex-gap">
      <span class="addmissions-plans__gradient-bg-2f48">IGCSE</span>
      <span class="addmissions-plans__gradient-bg-cc62">A-Level</span>
      <span class="addmissions-plans__gradient-bg-b245">AP</span>
      <span class="addmissions-plans__gradient-bg-c02f">HKDSE</span>
    </div>
    <!-- 卡片 -->
    <div class="addmissions-plans__grid-cols-0823">
      <!-- 混合课程 -->
      <div class="addmissions-plans__flex-col-2e0a">
        <div>
          <h3 class="section_subtitle addmissions-plans__style-10">未来全域学习计划</h3>
          <ul class="addmissions-plans__style-13">
            <li>灵活的学习进度</li>
            <li>灵活的学习地点：线上+线下</li>
            <li>更广泛的科目选择</li>
            <li>按照学生自身特点量身定制的课程计划</li>
          </ul>
        </div>
        <div class="addmissions-plans__style-14"></div>
        <div>
          <label class="addmissions-plans__style-15">选择课程体系</label>
          <select class="addmissions-plans__rounded-03a8">
            <option>IGCSE</option>
            <option>A-Level</option>
            <option>AP</option>
            <option>HKDSE</option>
          </select>
          <label class="addmissions-plans__style-16">选择学习方案：</label>
          <select class="addmissions-plans__rounded-03a8">
            <option>2025-2026 学年</option>
            <option>2025-2026 学年 第一学期</option>
            <option>2025-2026 学年 第二学期</option>
            <option>单科课程</option>
          </select>
        </div>
        <div class="addmissions-plans__style-5">
          <a href="{% url 'in_progress_zh' %}">
            <button class="addmissions-plans__rounded" type="button">购买</button>
          </a>
        </div>
      </div>
      <!-- 双轨课程 -->
      <div class="addmissions-plans__flex-col-2e0a">
        <div>
          <h3 class="section_subtitle addmissions-plans__style-10">未来教育双轨计划</h3>
          <ul class="addmissions-plans__style-13">
            <li>高考、国际体系双轨兼顾</li>
            <li>学业+国际素养同步提升</li>
            <li>个性化学习规划</li>
            <li>完成学业并达标后获得中外高中双凭</li>
          </ul>
        </div>
        <div class="addmissions-plans__style-14"></div>
        <div>
          <label class="addmissions-plans__style-15">选择课程体系</label>
          <select class="addmissions-plans__rounded-03a8">
            <option>IGCSE</option>
            <option>A-Level</option>
            <option>AP</option>
            <option>HKDSE</option>
          </select>
          <label class="addmissions-plans__style-16">选择学习方案：</label>
          <select class="addmissions-plans__rounded-03a8">
            <option>2025-2026 学年</option>
            <option>2025-2026 学年 第一学期</option>
            <option>2025-2026 学年 第二学期</option>
            <option>单科课程</option>
          </select>
        </div>
        <div class="addmissions-plans__style-5">
          <a href="{% url 'in_progress_zh' %}">
            <button class="addmissions-plans__rounded" type="button">购买</button>
          </a>
        </div>
      </div>
      <!-- 线上文凭课程 -->
      <div class="addmissions-plans__flex-col-2e0a">
        <div>
          <h3 class="section_subtitle addmissions-plans__style-10">未来无界文凭课程</h3>
          <ul class="addmissions-plans__style-13">
            <li>灵活的学习进度</li>
            <li>灵活的学习地点：线上/任何地方</li>
            <li>国际高中成绩单</li>
            <li>完成学业并达标后获得国际高中文凭</li>
          </ul>
        </div>
        <div class="addmissions-plans__style-14"></div>
        <div>
          <label class="addmissions-plans__style-15">选择课程体系</label>
          <select class="addmissions-plans__rounded-03a8">
            <option>IGCSE</option>
            <option>A-Level</option>
            <option>AP</option>
            <option>HKDSE</option>
          </select>
          <label class="addmissions-plans__style-16">选择学习方案：</label>
          <select class="addmissions-plans__rounded-03a8">
            <option>2025-2026 学年</option>
            <option>2025-2026 学年 第一学期</option>
            <option>2025-2026 学年 第二学期</option>
            <option>单科课程</option>
          </select>
        </div>
        <div class="addmissions-plans__style-5">
          <a href="{% url 'in_progress_zh' %}">
            <button class="addmissions-plans__rounded" type="button">购买</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>