{% load static %}
<section class="intro-connects__bg-white section-font-style_zh">
  <div class="intro-connects__flex-col">
    <!-- Title -->
    <h2 class="section_title intro-connects__text-center">NextGen Connects</h2>
    <!-- Two-column layout (50/50 split) -->
    <div class="intro-connects__grid-cols">
      <!-- Left: Card with bullets at bottom -->
      <div class="intro-connects__flex-col-3f57">
        <!-- Title -->
        <h3 class="section_subtitle intro-connects__style-1">
          NextGen Global
          <br />
          Community
        </h3>
        <!-- Spacer pushes list down -->
        <div class="intro-hybrid__style-2"></div>
        <!-- Bullets (anchored at bottom) -->
        <ul class="intro-connects__style-2">
          <li>
            <a class="bullet-link" href="{% url 'cclr_programs_zh' %}">	升学探索课程</a>
          </li>
          <li>
            <a>成为NGS伙伴</a>
          </li>
          <li>
            <a class="bullet-link" href="{% url 'ngs_inspires_zh' %}">NextGen Inspires</a>
          </li>
          <li>
            <a class="bullet-link active" href="{% url 'ngs_connects_zh' %}">NextGen Connects</a>
          </li>
        </ul>
      </div>
      <!-- Right: Copy -->
      <div class="intro-connects__flex-col-34c8">
        <p class="section_paragraph intro-connects__style-3">
          <strong>NextGen Connects</strong>帮助家庭和学生从容应对眼花缭乱的择校流程。
通过深度访校、出具全面学校报告、学习路径匹配度分析，为学生和家长提供信息充分、匹配度高的决策体验。
          <br />
          <br />
          本计划同时帮助家庭和学生在全面适应从报考准备到适应新学习环境的复杂过渡——获得从入学考试、面试、专业课程选择等全方位备考、学术、心理支持。
        </p>
      </div>
    </div>
  </div>
</section>
