{% load static %}
<section class="intro-connects__bg-white section-font-style_zh">
  <div class="intro-connects__flex-col">
    <!-- Title -->
    <h2 class="section_title intro-connects__text-center">NextGen Inspires</h2>
    <!-- Two-column layout (50/50 split) -->
    <div class="intro-connects__grid-cols">
      <!-- Left: Card with bullets at bottom -->
      <div class="intro-connects__flex-col-3f57">
        <!-- Title -->
        <h3 class="section_subtitle intro-connects__style-1">
          NextGen Global
          <br />
          Community
        </h3>
        <!-- Spacer pushes list down -->
        <div class="intro-hybrid__style-2"></div>
        <!-- Bullets (anchored at bottom) -->
        <ul class="intro-connects__style-2">
          <li>
            <a class="bullet-link" href="{% url 'cclr_programs_zh' %}">升学探索课程</a>
          </li>
          <li>
            <a>未来全域课程</a>
          </li>
          <li>
            <a class="bullet-link active" href="{% url 'ngs_inspires_zh' %}">NextGen Inspires</a>
          </li>
          <li>
            <a class="bullet-link" href="{% url 'ngs_connects_zh' %}">NextGen Connects</a>
          </li>
        </ul>
      </div>
      <!-- Right: Copy -->
      <div class="intro-connects__flex-col-34c8">
        <h3 class="intro-connects__style-3">加入NGS 全球学习社区!</h3>
        <p class="section_paragraph intro-connects__style-3">
          <strong>NextGen Inspires</strong>是专为NGS合作学校打造的独家订阅服务,旨在为学生和教育者连接全球无限机遇。
        </p>
        <p class="section_paragraph connect-to-parents__style-1">
          通过与全球行业领袖、世界知名大学的合作, 结合创新的SPARK LAB 以及蓬勃发展的全球校友网络, s<strong>NextGen Inspires</strong>为您提供无与伦比的资源、导师指导和灵感激发, 助力下一代成就卓越。
        </p>
      </div>
    </div>
  </div>
</section>
