{% load static %}

<section class="programs our-programs__section section-font-style_zh">
  <!-- Title -->
  <h2 class="section_title our-programs__text-center">未来教育联盟</h2>
  <!-- Grid -->
  <div class="our-programs__grid-cols">
    <!-- Item 1 -->
    <a href="#founder" class="partner-with-us__style-1">
      <div class="our-programs__style-1">
        <div class="our-programs__style-2">
          <img alt="Partner With Us"
               src="{% static 'img/partnerwithus.jpg' %}"
               class="our-programs__full-size" />
        </div>
        <h3 class="section_subtitle our-programs__text-center-fcad">成为NGS伙伴</h3>
        <p class="section_paragraph our-programs__style-3">我们提供专业的线上国际课程、升学辅导以及个性化家教服务，旨在帮助教育者与学生实现学术卓越，释放他们的全部潜能。</p>
      </div>
    </a>
    <!-- Item 2 -->
    <a href="#our-programs" class="partner-with-us__style-1">
      <div class="our-programs__style-1">
        <div class="our-programs__style-4">
          <img alt="Study With Us"
               src="{% static 'img/Studywithus.png' %}"
               class="our-programs__full-size" />
        </div>
        <h3 class="section_subtitle our-programs__text-center-8988">成为NGS学生</h3>
        <p class="section_paragraph our-programs__style-3">或许你梦想进入理想的大学，但不确定如何实现。我们的个性化辅导服务将全程为你指引方向。</p>
      </div>
    </a>
    <!-- Item 3 -->
    <a href="{% url 'ngs_inspires' %}" class="partner-with-us__style-1">
      <div class="our-programs__style-1">
        <div class="our-programs__style-4">
          <img alt="Join Us"
               src="{% static 'img/Joinus.jpg' %}"
               class="our-programs__full-size" />
        </div>
        <h3 class="section_subtitle our-programs__text-center-9eec">加入NGS全球社区</h3>
        <p class="section_paragraph our-programs__style-3">在 NextGen Scholars，连接全球产业领袖、全球大学与全球学习者！</p>
      </div>
    </a>
  </div>
</section>
