{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    {% include "website/language/zh/sections/head_zh.html" %}
  </head>

  <body class="font-sans text-gray-800 antialiased bg-gray-50">
    
    <!-- Header with Navigation -->
    {% include "website/language/zh/sections/navbar_zh.html" %}

    <!-- 服务条款 -->
    <div class="p-6 bg-white rounded-lg overflow-y-auto">
        <h2 class="text-3xl font-bold mb-6 text-center">服务条款</h2>

        <p class="mb-4">生效日期：2015年5月1日</p>

        <h3 class="text-2xl font-semibold mb-2">1. 服务内容</h3>
        <p class="mb-4">我们为学生提供家教辅导、学术支持及教育资源等服务。</p>

        <h3 class="text-2xl font-semibold mb-2">2. 用户责任</h3>
        <p class="mb-4">您同意提供准确的信息，合法使用我们的服务，并不得尝试未经授权访问受限制的区域。</p>

        <h3 class="text-2xl font-semibold mb-2">3. 知识产权</h3>
        <p class="mb-4">本网站的所有内容均由我们拥有。未经许可，您不得复制、转载或用于商业用途。</p>

        <h3 class="text-2xl font-semibold mb-2">4. 付款条款</h3>
        <p class="mb-4">您同意支付适用于所选服务的费用。付款条款将在购买时明确告知。</p>

        <h3 class="text-2xl font-semibold mb-2">5. 取消与退款</h3>
        <p class="mb-4">请在预订时查阅对应服务的取消及退款政策。</p>

        <h3 class="text-2xl font-semibold mb-2">6. 免责声明</h3>
        <p class="mb-4">我们按“现状”提供服务，不对任何特定的学术成果作出保证。</p>

        <h3 class="text-2xl font-semibold mb-2">7. 责任限制</h3>
        <p class="mb-4">因使用我们的服务而产生的任何间接或附带损害，我们概不负责。</p>

        <h3 class="text-2xl font-semibold mb-2">8. 条款变更</h3>
        <p class="mb-4">我们可能会不时更新本服务条款，更新版本将发布在本页面。</p>

        <h3 class="text-2xl font-semibold mb-2">9. 管辖与法律适用</h3>
        <p>9.1 本协议的订立、生效、履行、解释及争议解决，均适用中华人民共和国大陆地区法律（不包括其冲突法规则）。</p>
        <p>9.2 本协议签订地为中华人民共和国广东省深圳市南山区。</p>
        <p>9.3 如您与 NextGen Scholars（以下简称 “NGS”） 之间因本协议发生任何争议，双方应首先通过友好协商解决；协商不成的，任何一方均同意将争议提交至本协议签订地（即中国广东省深圳市南山区）有管辖权的人民法院裁决。</p>
        <p class="mb-4">9.3 若本协议任何条款因任何原因部分无效或不可执行，其余条款仍然有效并对双方具有约束力。</p>

        <h3 class="text-2xl font-semibold mb-2">10. 联系我们</h3>
        <p>如有任何问题，请通过以下方式联系我们：
            <a href="mailto:admission@nextgenscholars.asia" class="text-blue-600 hover:underline">
                admission@nextgenscholars.asia
            </a>
        </p>
    </div>

    <!-- Social Media-->
    {% include "website/language/zh/sections/media_zh.html" %}

    <!-- Customer Service Button -->
    {% include "website/language/zh/sections/customer_service_zh.html" %}

    <!-- Footer -->
    {% include "website/language/zh/sections/footer_zh.html" %}

    <!-- JavaScript -->
     <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
