{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>{% include "website/language/zh/sections/head_zh.html" %}</head>
  <body class="font-sans text-gray-800 antialiased bg-gray-50">
    <!-- Header with Navigation -->
    {% include "website/language/zh/sections/navbar_zh.html" %}
    <!-- 服务条款 -->
    <div class="p-6 bg-white rounded-lg overflow-y-auto">
      <h2 class="text-3xl font-bold mb-6 text-center">服务协议</h2>
      <p class="mb-4 text-center">双方本着自愿、平等、诚信的原则，委托 NextGenScholars 提供线上教学服务。</p>
      <h3 class="text-2xl font-semibold mb-2">服务费用和付款方式</h3>
      <p class="mb-4">服务费用以委托人在 nextgenscholars.asia 网站（以下简称 “NGS”）选购的课程包为准。委托人身份联系方式以付款时留下的邮箱地址为准。</p>
      <h3 class="text-2xl font-semibold mb-2">委托人权利义务</h3>
      <ul class="list-disc pl-6 mb-4 space-y-1">
        <li>委托人及学员有权根据本合同及双方约定的时间表获得相应课程及配套服务。</li>
        <li>委托人及学员有权对 NGS 的服务进行监督和提出建议反馈。</li>
        <li>委托人应按本协议规定向受托人支付全部的服务费用；未按约支付的，受托人有权拒绝提供服务。</li>
        <li>委托人及学员承诺提交的个人信息真实、完整、有效；如有变更，须在变更之日前三日内通知受托人。</li>
        <li>自开课之日起【3】个课时内，委托人有权向 NGS 提出一次性更换导师；此后须完成本协议约定；或由 NGS 将学员安排进入相同级别未满员班级，具体情况双方协商。</li>
        <li>学员应按双方确认的时间表上课，做好签到、认真听讲并按时完成课后作业和任务。</li>
        <li>委托人及学员须妥善保管个人学习账户及密码；因密码泄露或与他人共享导致的资料泄露，NGS 不承担责任。</li>
        <li>委托人及学员不得向 NGS 及其服务人员提出违反学术诚信的要求。</li>
        <li>委托人及学员应对本协议内容、知识产权、服务内容、数据、课程资料、报告、其他文件及 NGS 服务人员个人信息等严格保密。</li>
      </ul>
      <h3 class="text-2xl font-semibold mb-2">NGS 的权利与义务</h3>
      <ul class="list-disc pl-6 mb-4 space-y-1">
        <li>NGS 按时、按质、勤勉、尽责地履行本协议约定服务。</li>
        <li>对委托人提供的个人信息及资料妥善保管并依法合规使用、披露或处理。</li>
        <li>通过电子邮件与学员确认辅导计划与时间表并执行；如需调整，双方应在约定上课时间 24 小时或以上，通过电子邮件确认新的时间表。</li>
        <li>服务过程中听取合理意见与建议，并据实调整或改善。</li>
        <li>为保证质量，品控部门将定期进行电话及邮件回访。</li>
        <li>辅导课程的知识产权及其他权益归 NGS 所有。未经授权，不得复制、翻录、共享、牟利或从事其他侵权活动。</li>
        <li>服务期间，非 NGS 主观意图造成的任何人身或财务损失、损害或伤害，NGS 不承担相关责任。</li>
      </ul>
      <h3 class="text-2xl font-semibold mb-2">退费政策</h3>
      <ul class="list-disc pl-6 mb-4 space-y-1">
        <li>课程开始前提出退费或解约的，委托人有权要求全额退费；NGS 在收到书面申请后 15 个工作日内原路径退款，退款完成后协议终止。</li>
        <li>第一节课结束、第二节课开始前不满意且不接受更换导师的，扣除首节课（按试听价 299 元）后退回剩余全部课时费用；NGS 在收到书面申请后 15 个工作日内原路径退款，退款完成后协议终止。</li>
        <li>参与第二节课程视为对该课程服务满意；此后服务期间，委托人有权要求更换导师或服务人员。</li>
        <li>
          第二节课开始后退费或解约的：
          <ol class="list-decimal pl-6 mt-1 space-y-1">
            <li>已上课时 ≥ 约定课时的 50%（含）时，按本协议约定的优惠课单价计费，扣除实际发生课时费后退回剩余费用。</li>
            <li>已上课时 &lt; 50% 时，按课程原单价（900 元/小时）计费，扣除实际发生课时费后退回剩余费用。</li>
            <li>NGS 在委托人正式提出退费或解约申请后 15 个工作日内原路径退款，退款完成后协议终止。</li>
            <li>如已开具发票，委托人须退回发票以冲红；无法退回的，NGS 将在退款总额基础上扣除发票金额 8% 的税费。</li>
          </ol>
        </li>
        <li>退费上限为委托人已支付的服务费（不含利息）；NGS 有权扣除交易合理税费及向第三方已缴费用（如学习账户使用费等）。</li>
      </ul>
      <h3 class="text-2xl font-semibold mb-2">违约责任</h3>
      <ul class="list-disc pl-6 mb-4 space-y-1">
        <li>任一方违约导致合同无法继续履行的，守约方有权解除并要求违约方承担相应责任。</li>
        <li>
          委托人违约：
          <ol class="list-decimal pl-6 mt-1 space-y-1">
            <li>违反保密约定泄露 NGS 知识产权、数据或资料的，NGS 有权解除协议且已收取费用不予退还，并可主张损失赔偿。</li>
            <li>未提前告知且通过约定方式无法联系，致使未能及时修改上课时间的，相关课时视为实际发生。</li>
          </ol>
        </li>
        <li>
          NGS 违约：
          <ol class="list-decimal pl-6 mt-1 space-y-1">
            <li>违反约定向非关联第三方泄露学员个人信息的，委托人有权解除并主张退费，按退费政策执行。</li>
            <li>未能按质按量提供服务的，委托人有权解除并主张退费，按退费政策执行。</li>
          </ol>
        </li>
      </ul>
      <h3 class="text-2xl font-semibold mb-2">生效及其他</h3>
      <ul class="list-disc pl-6 mb-4 space-y-1">
        <li>本协议于委托人付款时成立生效；课时有效期为 365 天。</li>
        <li>本协议构成双方就本标的达成的全部协议，并取代此前所有磋商或协议。</li>
        <li>因履行本协议发生争议的，应先协商；不成时，双方一致同意向受托人住所地人民法院提起诉讼。</li>
        <li>除特别书面声明外，本合同所约定的电子邮件为双方通讯送达地址，并适用于争议或诉讼。</li>
        <li>本电子协议一式两份，双方各执一份，具有同等法律效力。</li>
      </ul>
    </div>
    <!-- Social Media-->
    {% include "website/language/zh/sections/media_zh.html" %}
    <!-- Customer Service Button -->
    {% include "website/language/zh/sections/customer_service_zh.html" %}
    <!-- Footer -->
    {% include "website/language/zh/sections/footer_zh.html" %}
    <!-- JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
