{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>{% include "website/language/zh/sections/head_zh.html" %}</head>
  <body class="font-sans text-gray-800 antialiased bg-gray-50">
    <!-- Header with Navigation -->
    {% include "website/language/zh/sections/navbar_zh.html" %}
    <!-- HERO -->
    <section class="hero section-font-style">
      <img src="{% static 'img/NGSConnects.jpg' %}"
           alt="Graduates throwing caps">
    </section>
    <!-- NGS K-12 SCHOOL SPECIALISTS -->
    {% include "website/language/zh/sections/k12_school_zh.html" %}
    <!-- NGS HIGH-SCHOOL MAPPING PROGRAM -->
    {% include "website/language/zh/sections/highschool_mapping_program_zh.html" %}
    <!-- HIGH-SCHOOL MAPPING -->
    {% include "website/language/zh/sections/highschool_mapping_sections_zh.html" %}
    <!-- GLOBAL COMMUNITY -->
    {% include "website/language/zh/sections/global_community_zh.html" %}
    <!-- NEXTGEN INSPIRES -->
    {% include "website/language/zh/sections/inspires_zh.html" %}
    <!-- Social Media-->
    {% include "website/language/zh/sections/media_zh.html" %}
    <!-- Customer Service Button -->
    {% include "website/language/zh/sections/customer_service_zh.html" %}
    <!-- Footer -->
    {% include "website/language/zh/sections/footer_zh.html" %}
    <!-- JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
