{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>{% include "website/sections/head.html" %}</head>
  <body class="font-sans text-gray-800 antialiased bg-gray-50">
    <!-- Header with Navigation -->
    {% include "website/sections/navbar.html" %}
    <!-- HERO -->
    <section class="hero section-font-style">
      <img src="{% static 'img/Graduation.jpg' %}" alt="Graduates throwing caps">
    </section>
    <!-- PROGRAMMES -->
    {% include "website/sections/programmes.html" %}
    <!-- PROGRAM OPTIONS: IB / A-LEVEL IGCSE / AP -->
    {% include "website/sections/program_options.html" %}
    <!-- TAKE CHARGE SECTION -->
    {% include "website/sections/take_charge.html" %}
    <!-- A COMPREHENSIVE AND TAILORED CURRICULUM -->
    {% include "website/sections/comprehensive.html" %}
    <!-- Student Reviews -->
    {% include "website/sections/student_reviews.html" %}
    <!-- GLOBAL COMMUNITY -->
    {% include "website/sections/global_community.html" %}
    <!-- PARTNER WITH NGS -->
    {% include "website/sections/partner_with_ngs.html" %}
    <!-- Social Media-->
    {% include "website/sections/media.html" %}
    <!-- Customer Service Button -->
    {% include "website/sections/customer_service.html" %}
    <!-- Footer -->
    {% include "website/sections/footer.html" %}
    <!-- JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
