{% load static %}

<section class="addmissions-requirement__bg-white">
<div class="form-hybrid__flex-col">
<!-- Title -->
<h2 class="section_title addmissions-requirement__text-center">
      ADMISSIONS REQUIREMENT
    </h2>
<!-- Content -->
<div class="addmissions-requirement__grid-cols">
<!-- Left: QR code -->
<div class="addmissions-requirement__flex-col">
<img alt="QR Code for NGS Admissions" src="{% static 'img/wechatQR.png' %}" class="addmissions-requirement__style-1"/>
<p class="section_paragraph addmissions-requirement__text-center-5863">
          Scan for NGS Admissions
        </p>
</div>
<!-- Right: Green table card -->
<div class="addmissions-requirement__flex-col-fbdb">
<table class="addmissions-requirement__text-center-2924">
<thead>
<tr>
<th class="addmissions-requirement__style-2">Items</th>
<th class="addmissions-requirement__style-2">Details</th>
</tr>
</thead>
<tbody>
<tr><td class="addmissions-requirement__style-3">Academic Requirement</td><td class="addmissions-requirement__style-3">G9 Graduates</td></tr>
<tr><td class="addmissions-requirement__style-3">Age</td><td class="addmissions-requirement__style-3">15+</td></tr>
<tr><td class="addmissions-requirement__style-3">Nationality</td><td class="addmissions-requirement__style-3">All welcome</td></tr>
<tr><td class="addmissions-requirement__style-3">Language</td><td class="addmissions-requirement__style-3">English Proficiency Level B1+</td></tr>
<tr><td class="addmissions-requirement__style-3">Residency</td><td class="addmissions-requirement__style-3">All welcome</td></tr>
<tr><td class="addmissions-requirement__style-3">Interview</td><td class="addmissions-requirement__style-3">Required</td></tr>
<tr><td class="form-hybrid__style-4">Hardware / Software Requirements</td><td class="form-hybrid__style-4">Desktop or Laptop Computer / ClassIn App installed</td></tr>
</tbody>
</table>
</div>
</div>
</div>
</section>