{% load static %}

<header class="site-header">
    <div class="wrap navbar">
        <a class="navbar__brand" href="{% url 'index' %}" id="logo">
            <img src="{% static 'img/newlogo.png' %}" alt="NextGen Scholars logo">
        </a>

        <button class="navbar__toggle" type="button" aria-expanded="false" aria-controls="primary-navigation" data-nav-toggle>
            <span class="navbar__toggle-box" aria-hidden="true">
                <span class="navbar__toggle-line"></span>
                <span class="navbar__toggle-line"></span>
                <span class="navbar__toggle-line"></span>
            </span>
            <span class="navbar__toggle-label">Menu</span>
        </button>

        <nav class="navbar__links" id="primary-navigation" aria-label="Main" data-nav>
            <ul class="navbar__list">
                <li class="navbar__item navbar__item--has-children">
                    <div class="navbar__item-head">
                        <a class="navbar__link" href="{% url 'index' %}">Partner With NGS</a>
                        <button class="navbar__chevron" type="button" aria-expanded="false" aria-controls="nav-partner" data-nav-subtoggle>
                            <span class="visually-hidden">Toggle Partner With NGS menu</span>
                            <span aria-hidden="true">▾</span>
                        </button>
                    </div>
                    <ul class="navbar__dropdown" id="nav-partner" data-nav-submenu>
                        <li><a href="{% url 'cclr_programs' %}">CCLR Program</a></li>
                        <li><a href="{% url 'hybrid_learning' %}">Hybrid Learning</a></li>
                        <li><a href="{% url 'dual_track_learning' %}">Dual-track Learning</a></li>
                        <li><a href="{% url 'online_diploma_program' %}">Online Diploma Program</a></li>
                    </ul>
                </li>

                <li class="navbar__item navbar__item--has-children">
                    <div class="navbar__item-head">
                        <a class="navbar__link" href="{% url 'index' %}">Study With Us</a>
                        <button class="navbar__chevron" type="button" aria-expanded="false" aria-controls="nav-study" data-nav-subtoggle>
                            <span class="visually-hidden">Toggle Study With Us menu</span>
                            <span aria-hidden="true">▾</span>
                        </button>
                    </div>
                    <ul class="navbar__dropdown" id="nav-study" data-nav-submenu>
                        <li><a href="{% url 'programs' %}">Programs</a></li>
                        <li><a href="{% url 'college_mentorship' %}">College Mentorship</a></li>
                        <li><a href="{% url 'highschool_mapping' %}">Highschool Mapping</a></li>
                        <li><a href="{% url 'faculty' %}">Faculty</a></li>
                    </ul>
                </li>

                <li class="navbar__item">
                    <a class="navbar__link" href="{% url 'admissions' %}">Admissions</a>
                </li>

                <li class="navbar__item navbar__item--has-children">
                    <div class="navbar__item-head">
                        <a class="navbar__link" href="{% url 'index' %}">Join NGS Community</a>
                        <button class="navbar__chevron" type="button" aria-expanded="false" aria-controls="nav-community" data-nav-subtoggle>
                            <span class="visually-hidden">Toggle Join NGS Community menu</span>
                            <span aria-hidden="true">▾</span>
                        </button>
                    </div>
                    <ul class="navbar__dropdown" id="nav-community" data-nav-submenu>
                        <li><a href="{% url 'ngs_inspires' %}">NGS Inspires</a></li>
                        <li><a href="{% url 'ngs_connects' %}">NGS Connects</a></li>
                        <li><a href="{% url 'membership_signin' %}">Membership Sign-In</a></li>
                    </ul>
                </li>

                <li class="navbar__item navbar__item--cta">
                    <a class="navbar__link navbar__link--cta" href="https://www.classin.com/login/">Log In</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="navbar__overlay" data-nav-overlay></div>
</header>
