{% load static %}

<section class="college-counseling__flex-center">
    
    <div class="k12-school__flex-col">
    
    <!-- Title -->
    <h2 class="section_title college-counseling__text-center">
        NGS College Counseling Team
    </h2>

    <!-- Flags -->
    <div class="college-counseling__text-center-e9f4">
        🇺🇸 🇬🇧 🇨🇦 🇦🇺 🇭🇰 🇸🇬
    </div>

    <!-- Team Grid -->
    <div class="k12-school__grid-cols">
        
        <!-- Scarlett -->
        <div class="k12-school__flex-gap">
        <img src="{% static 'img/profiles/Scarlet.jpg' %}" alt="Scarlett" 
            class="k12-school__circle">
        <div>
            <h3 class="k12-school__style-1">
            Scarlett Sampson | MBA @ University of Texas
            </h3>
            <p class="k12-school__style-2">
            Fortune 500 Executive & Silicon Valley Tech Leader<br>
            20+ years leading engineering teams<br>
            Expert interviewer who has hired 500+ graduates<br>
            🌟 Industry Insider: Deep connections in tech/business sectors<br>
            🌟 Specialized in career coaching, leadership development, mentor wellness, and academic mentoring
            </p>
        </div>
        </div>

        <!-- Alexa -->
        {% comment %} <div class="k12-school__flex-gap">
        <img src="{% static 'img/profiles/Scarlet.jpg' %}" alt="Alexa" 
            class="k12-school__circle">
        <div>
            <h3 class="k12-school__style-1">
            Alexa Meng | Doctor of Music Arts @ Illinois University
            </h3>
            <p class="k12-school__style-2">
            MA from Eastman School of Music, BA from Central Conservatory of Music<br>
            Associate Professor at a renowned music conservatory<br>
            Expert in guiding students to gain admission to top-tier global music schools<br>
            🌟 Extensive frontline teaching experience, specializing in music portfolio preparation and admissions counseling
            </p>
        </div>
        </div> {% endcomment %}

        <!-- Nancy -->
        <div class="k12-school__flex-gap">
        <img src="{% static 'img/profiles/Nancy.jpg' %}" alt="Nancy" 
            class="k12-school__circle">
        <div>
            <h3 class="k12-school__style-1">
            Nancy Wu | Mechanical Engineering @ Melbourne U
            </h3>
            <p class="k12-school__style-2">
            Top IB graduate from Singapore; Expert in multiple curriculums<br>
            Co-founder of Zeta Technology, focused on delivering AI and Web3-powered education<br>
            Former engineer on ACRUX, Australia’s first student-built satellite project<br>
            🌟 Experienced in STEM education & College Guidance to Singaporean and Australian Universities
            </p>
        </div>
        </div>

        <!-- Nicole -->
        <div class="k12-school__flex-gap">
        <img src="{% static 'img/profiles/Nicole.jpg' %}" alt="Nicole" 
            class="k12-school__circle">
        <div>
            <h3 class="k12-school__style-1">
            Nicole Wen | Law @ University of Bristol | IB 40
            </h3>
            <p class="k12-school__style-2">
            Specialises in English, TOK, Extended Essay, and Uni Applications<br>
            Bilingual (English/Chinese) – makes complex concepts simple<br>
            Mentored student into Cambridge Law<br>
            🌟 Strong academic writing support
            </p>
        </div>
        </div>

        <!-- Valerie -->
        <div class="k12-school__flex-gap">
        <img src="{% static 'img/profiles/Valerie.jpg' %}" alt="Valerie" 
            class="k12-school__circle">
        <div>
            <h3 class="k12-school__style-1">
            Valerie Zhou | Business Management @ Essex University
            </h3>
            <p class="k12-school__style-2">
            IELTS perfect score mentor. Independent Artist.<br>
            🌟 15 years of experience working in tier-one international schools<br>
            Native level proficiency in English, Mandarin, Cantonese.<br>
            Contemporary Art Curator. Visual Artist.
            </p>
        </div>
        </div>

    </div>
    </div>
</section>