{% load static %}
<section class="form-hybrid__section section-font-style">
  <div class="form-hybrid__flex-col">
    <!-- Title -->
    <h2 class="section_title form-hybrid__text-center">NGS DUAL-TRACK PROGRAM</h2>
    <!-- Content -->
    <div class="form-hybrid__grid-cols">
      <!-- Left: photo + tagline -->
      <div class="form-hybrid__flex-col-e0d5">
        <img alt="Student learning online"
             src="{% static 'img/smilegirl.jpg' %}"
             class="form-hybrid__rounded" />
        <p class="section_paragraph form-hybrid__style-1">
          Enjoy the Flexibility of Learning Anywhere
          <br />
          at Your Own Pace
        </p>
      </div>
      <!-- Right: rounded table card -->
      <div class="form-hybrid__flex-col-cbed">
        <table class="form-hybrid__text-center-6228">
          <thead>
            <tr>
              <th class="form-hybrid__style-2">Items</th>
              <th class="form-hybrid__style-2">Online Diploma Model</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="form-hybrid__style-3">Course Options</td>
              <td class="form-hybrid__style-3">ALevel / HKDSE / AP</td>
            </tr>
            <tr>
              <td class="form-hybrid__style-3">Entry Assessment</td>
              <td class="form-hybrid__style-3">Online</td>
            </tr>
            <tr>
              <td class="form-hybrid__style-3">Subject Learning</td>
              <td class="form-hybrid__style-3">Online</td>
            </tr>
            <tr>
              <td class="form-hybrid__style-3">Learning Platform</td>
              <td class="form-hybrid__style-3">ClassIn</td>
            </tr>
            <tr>
              <td class="form-hybrid__style-3">Learning Community</td>
              <td class="form-hybrid__style-3">SPARK LAB</td>
            </tr>
            <tr>
              <td class="form-hybrid__style-3">Formative Assessment</td>
              <td class="form-hybrid__style-3">Online</td>
            </tr>
            <tr>
              <td class="form-hybrid__style-3">Official Assessment</td>
              <td class="form-hybrid__style-3">On Campus</td>
            </tr>
            <tr>
              <td class="form-hybrid__style-3">Official Transcripts</td>
              <td class="form-hybrid__style-3">Issued by School</td>
            </tr>
            <tr>
              <td class="form-hybrid__style-4">Enrollment</td>
              <td class="form-hybrid__style-4">NGS Online + School</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
