{% load static %}
<section class="global-application__flex-center">
  <div class="k12-school__flex-col">
    <!-- Title -->
    <h2 class="section_title global-application__text-center">Global Application</h2>
    <!-- Flags -->
    <div class="global-application__text-center-eb79">🇺🇸 🇬🇧 🇨🇦 🇦🇺 🇭🇰 🇸🇬</div>
    <!-- 4 Cards -->
    <div class="global-application__grid-cols">
      <!-- Card Template -->
      <div class="global-application__flex-col">
        <h3 class="section_subtitle global-application__style-1">
          Comprehensive
          <br />
          College Plan
        </h3>
        <ul class="global-application__style-2">
          <li>Academic Planning</li>
          <li>College List</li>
          <li>PS/CV Writing</li>
          <li>Reference Letter</li>
          <li>Interview Prep</li>
          <li>Meet Industry Mentors</li>
          <li>Find Your Tribe</li>
        </ul>
      </div>
      <div class="global-application__flex-col">
        <h3 class="section_subtitle highschool-mapping-sections__style-2">
          Portfolio
          <br />
          Preparation
        </h3>
        <ul class="global-application__style-2">
          <li>Visual Arts Portfolio</li>
          <li>Music Portfolio</li>
        </ul>
      </div>
      <div class="global-application__flex-col">
        <h3 class="section_subtitle highschool-mapping-sections__style-2">Exam Preparation</h3>
        <ul class="global-application__style-2">
          <li>SAT/IELTS Prep</li>
          <li>Essay Writing Clinic</li>
          <li>Subject Tutoring</li>
          <li>Competition Tutoring</li>
        </ul>
      </div>
      <div class="global-application__flex-col">
        <h3 class="section_subtitle highschool-mapping-sections__style-2">Diploma (Optional)</h3>
        <ul class="global-application__style-2">
          <li>Distant Learning</li>
          <li>Hybrid Learning</li>
          <li>Dual-track Learning</li>
          <li>On-campus Exams</li>
          <li>Highschool Diploma</li>
        </ul>
      </div>
    </div>
  </div>
</section>
