{% load static %}

<!-- NEXTGEN INSPIRES -->
<section class="inspires inspires__flex">
<div class="wrap inspires__flex-col">
<!-- Title -->
<h2 class="section_title inspires__text-center">
      NextGen Inspires
    </h2>
<!-- Four-column content -->
<div class="inspires__grid-cols">
<!-- Global Industry Leaders -->
<div class="index__text-center-1307">
<img alt="Global Industry Leaders" src="{% static 'img/globalindustry.jpg' %}" class="inspires__circle"/>
<h3 class="section_subtitle inspires__style-1">
          Global Industry Leaders
        </h3>
<p class="section_paragraph inspires__style-2">
          Connect with leaders at the forefront of innovation and excellence across diverse industries. Through
          expert-led webinars, mentorship programs, and career-focused workshops, students gain first-hand
          insights into emerging trends, career pathways, and the real-world skills required to succeed in a
          competitive global market.
        </p>
</div>
<!-- Global Universities -->
<div class="index__text-center-1307">
<img alt="Global Universities" src="{% static 'img/globaluniversities.png' %}" class="inspires__circle"/>
<h3 class="section_subtitle inspires__style-1">
          Global Universities
        </h3>
<p class="section_paragraph inspires__style-2">
          Explore partnerships with renowned universities worldwide, offering students exclusive access to admissions
          guidance, campus tours, and networking opportunities.
        </p>
</div>
<!-- SPARK LAB -->
<div class="index__text-center-1307">
<img alt="SPARK LAB" src="{% static 'img/sparklab.jpg' %}" class="inspires__circle"/>
<h3 class="section_subtitle inspires__style-1">
          SPARK LAB
        </h3>
<p class="section_paragraph inspires__style-2">
          The SPARK LAB is an interactive platform connecting Global K-12 students to collaborate, innovate, and
          create. By fostering a global network of young minds, the SPARK LAB inspires students to think boldly,
          develop a global perspective, and take the lead in shaping the future.
        </p>
</div>
<!-- Global Alumni -->
<div class="index__text-center-1307">
<img alt="Global Alumni" src="{% static 'img/globalalumni.png' %}" class="inspires__circle"/>
<h3 class="section_subtitle inspires__style-1">
          Global Alumni
        </h3>
<p class="section_paragraph inspires__style-2">
          Leverage a thriving network of international alumni who have successfully pursued their academic and
          professional goals. This domain offers students opportunities to learn from the experiences of those who
          have walked similar paths, providing mentorship, guidance, and inspiration.
        </p>
</div>
</div>
</div>
</section>

{% comment %} <section class="inspires inspires__gradient-bg">
<div class="wrap">
<h2 class="section_title inspires__text-center-6566">
        NextGen Inspires
        </h2>
<div class="inspires__grid-cols-f56f">
<!-- Global Industry Leaders -->
<div>
<img alt="Industry Leaders" src="{% static 'img/globalindustry.jpg' %}" class="inspires__circle-a8cc"/>
<h3 class="section_subtitle inspires__style-3">Global Industry Leaders</h3>
<p class="section_paragraph inspires__style-4">
            Connect with leaders at the forefront of innovation and excellence across diverse industries. 
            Through expert-led webinars, mentorship programs, and career-focused workshops, 
            students gain first-hand insights into emerging trends, career pathways, and the real-world skills 
            required to succeed in a competitive global market.
            </p>
</div>
<!-- Global Universities -->
<div>
<img alt="Global Universities" src="{% static 'img/globaluniversities.png' %}" class="inspires__circle-a8cc"/>
<h3 class="section_subtitle inspires__style-3">Global Universities</h3>
<p class="section_paragraph inspires__style-4">
            Explore partnerships with renowned universities worldwide, offering students exclusive access 
            to admissions guidance, campus tours, and networking opportunities.
            </p>
</div>
<!-- SPARK LAB -->
<div>
<img alt="SPARK LAB" src="{% static 'img/sparklab.jpg' %}" class="inspires__circle-a8cc"/>
<h3 class="section_subtitle inspires__style-3">SPARK LAB</h3>
<p class="section_paragraph inspires__style-4">
            The SPARK LAB is an interactive platform connecting Global K-12 students to collaborate, innovate, and create. 
            By fostering a global network of young minds, the SPARK LAB inspires students to think boldly, develop a global perspective, 
            and take the lead in shaping the future.
            </p>
</div>
<!-- Global Alumni -->
<div>
<img alt="Global Alumni" src="{% static 'img/globalalumni.png' %}" class="inspires__circle-a8cc"/>
<h3 class="section_subtitle inspires__style-3">Global Alumni</h3>
<p class="section_paragraph inspires__style-4">
            Leverage a thriving network of international alumni who have successfully pursued their academic 
            and professional goals. This domain offers students opportunities to learn from the experiences 
            of those who have walked similar paths, providing mentorship, guidance, and inspiration.
            </p>
</div>
</div>
</div>
</section> {% endcomment %}