{% load static %}

<section class="programs our-programs__section">
<!-- Title -->
<h2 class="section_title partner-with-ngs__text-center">
    NGS Global Community
  </h2>
<!-- Grid -->
<div class="our-programs__grid-cols">
<!-- Item 1 -->
<a href="#founder" class="partner-with-us__style-1">
<div class="our-programs__style-1">
<div class="our-programs__style-2">
<img alt="Partner With Us" src="{% static 'img/partnerwithus.jpg' %}" class="our-programs__full-size"/>
</div>
<h3 class="section_subtitle our-programs__text-center-fcad">
          Partner With Us
        </h3>
<p class="section_paragraph our-programs__style-3">
          We offer expert online international programs, admissions coaching, and personalized tutoring services designed to empower educators and students to achieve academic excellence and unlock their full potential.
        </p>
</div>
</a>
<!-- Item 2 -->
<a href="#our-programs" class="partner-with-us__style-1">
<div class="our-programs__style-1">
<div class="our-programs__style-4">
<img alt="Study With Us" src="{% static 'img/Studywithus.png' %}" class="our-programs__full-size"/>
</div>
<h3 class="section_subtitle our-programs__text-center-8988">
          Study With Us
        </h3>
<p class="section_paragraph our-programs__style-3">
          Perhaps you’re dreaming of gaining admission to your dream university but unsure how to get there. Our personalized mentoring services are here to guide you every step of the way.
        </p>
</div>
</a>
<!-- Item 3 -->
<a href="{% url 'ngs_inspires' %}" class="partner-with-us__style-1">
<div class="our-programs__style-1">
<div class="our-programs__style-4">
<img alt="Join Us" src="{% static 'img/Joinus.jpg' %}" class="our-programs__full-size"/>
</div>
<h3 class="section_subtitle our-programs__text-center-9eec">
          Join Us
        </h3>
<p class="section_paragraph our-programs__style-3">
          Connect global industry leaders, global universities, and global learners at NextGen Scholars!
        </p>
</div>
</a>
</div>
</section>