{% load static %}

<section class="programs" style="margin-left: 50px;margin-right: 50px;min-height:66vh;">
    <h2 style="text-align:center;font-size:32px;font-weight:900;margin-bottom:40px;">NGS Global Community</h2>
    <div style="display:grid;grid-template-columns:repeat(auto-fit,minmax(280px,1fr));gap:30px;align-items:start;padding-left:30;">
        
        <!-- Partner With Us -->
        <div style="text-align:center">
        <img src="{% static 'img/partnerwithus.jpg' %}" alt="Partner With Us" style="width:100%;border-radius:10px;margin-bottom:18px;object-fit: cover;height: 350px; ">
        <h3 style="font-size:16px;font-weight:900;color:#3c21a1;margin-bottom:10px;letter-spacing:1px">PARTNER WITH US</h3>
        <p style="font-size:14px;line-height:1.6;color:#444">
            We offer expert online international programs, admissions coaching, and personalized tutoring services designed to empower educators and students to achieve academic excellence and unlock their full potential.
        </p>
        </div>

        <!-- Study With Us -->
        <div style="text-align:center">
        <img src="{% static 'img/Studywithus.png' %}" alt="Study With Us" style="width:100%;border-radius:10px;margin-bottom:18px;object-fit: cover;height: 350px;">
        <h3 style="font-size:16px;font-weight:900;color:#c2185b;margin-bottom:10px;letter-spacing:1px">STUDY WITH US</h3>
        <p style="font-size:14px;line-height:1.6;color:#444">
            Perhaps you’re dreaming of gaining admission to your dream university but unsure how to get there. Our personalized mentoring services are here to guide you every step of the way.
        </p>
        </div>

        <!-- Join Us -->
        <div style="text-align:center">
        <img src="{% static 'img/Joinus.jpg' %}" alt="Join Us" style="width:100%;border-radius:10px;margin-bottom:18px;object-fit: cover;height: 350px;">
        <h3 style="font-size:16px;font-weight:900;color:#2e7d32;margin-bottom:10px;letter-spacing:1px">JOIN US</h3>
        <p style="font-size:14px;line-height:1.6;color:#444">
            Connect global industry leaders, global universities, and global learners at NextGen Scholars!
        </p>
        </div>

    </div>
</section>