{% load static %}
<section class="program-options__flex">
  <div class="program-options__full-size">
    <div class="program-options__grid-cols">
      <!-- IB Card -->
      <div class="program-options__flex-col">
        <div>
          <h3 class="section_subtitle program-options__text-center">IB</h3>
          <p class="section_paragraph program-options__text-center-7fa1">
            English · Math
            <br />
            Physics · Biology · Chemistry · CS
            <br />
            Economy · Business · Geography · History
            <br />
            Visual Art · Theatre
            <br />
            HL &amp; SL
          </p>
        </div>
        <div>
          <ul class="program-options__style-1">
            <li>Comprehensive tutoring across all subjects</li>
            <li>Tutors with average IB score of 42+</li>
            <li>Over 1000+ hours of teaching experience</li>
            <li>Mock exams and past papers practice</li>
            <li>Tailored to diverse learning needs</li>
          </ul>
        </div>
      </div>
      <!-- A-LEVEL IGCSE Card -->
      <div class="program-options__flex-col">
        <div>
          <h3 class="section_subtitle program-options__text-center">A-LEVEL · IGCSE</h3>
          <p class="section_paragraph program-options__text-center-7fa1">
            English · English Literature
            <br />
            Math · Further Math · Computer Science
            <br />
            Physics · Biology · Chemistry
            <br />
            Economy · Business · Accounting
            <br />
            Geography · History · Art History
          </p>
        </div>
        <div>
          <ul class="program-options__style-1">
            <li>Excellent homeschool options</li>
            <li>Expert tutoring for all A-Level subjects</li>
            <li>Covers AQA, CIE, and Edexcel exam boards</li>
            <li>Fast-track and personalised learning</li>
            <li>Strong track record with A/A* grades</li>
          </ul>
        </div>
      </div>
      <!-- AP Card -->
      <div class="program-options__flex-col">
        <div>
          <h3 class="section_subtitle program-options__text-center">AP</h3>
          <p class="section_paragraph program-options__text-center-7fa1">
            English Language · English Literature
            <br />
            Math · Calculus · Statistics
            <br />
            Micro Economy · Biology · Chemistry
            <br />
            Human Geography · World History · Art History
          </p>
        </div>
        <div>
          <ul class="program-options__style-1">
            <li>Tutors from Top 50 global universities</li>
            <li>Focused on achieving 4s and 5s in AP exams</li>
            <li>College Board–style practice for readiness</li>
            <br />
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
