{% load static %}
<section class="programmes__flex-center">
  <div class="programmes__flex-col">
    <!-- Title -->
    <h2 class="section_title programmes__style-1">PROGRAMMES</h2>
    <!-- Description -->
    <p class="section_paragraph programmes__style-2">
      The class contents are closely aligned with the exam syllabus, systematically covering 90% of the key knowledge points.
      It ensures that students can understand, learn effectively, and improve quickly.
    </p>
    <!-- Image -->
    <div class="programmes__flex-center-aff8">
      <img alt="Online class"
           src="{% static 'img/studying.jpg' %}"
           class="programmes__rounded" />
    </div>
    <!-- Buttons -->
    <div class="programmes__flex-gap">
      <span class="programmes__gradient-bg">Foundation</span>
      <span class="programmes__gradient-bg-b687">Synchronization</span>
      <span class="programmes__gradient-bg-06e7">Acceleration</span>
      <span class="programmes__gradient-bg-a514">Exam Prep</span>
    </div>
  </div>
</section>
