{% load static %}
<section class="connect-to-parents__gradient-bg">
  <div class="connect-to-parents__flex-col">
    <!-- Title -->
    <h2 class="section_title connect-to-parents__text-center">SPARK LAB</h2>
    <!-- Two-column layout -->
    <div class="connect-to-parents__grid-cols">
      <!-- Left: Carousel (image resized to fit) -->
      <div class="carousel slide connect-to-parents__relative" id="carousellab">
        <div class="carousel-inner index__style-9">
          <div class="carousel-item active index__style-9">
            <img alt=""
                 src="{% static 'img/inspires/lab1.png' %}"
                 class="connect-to-parents__rounded" />
          </div>
          <div class="carousel-item index__style-9">
            <img alt=""
                 src="{% static 'img/inspires/lab2.jpg' %}"
                 class="connect-to-parents__rounded" />
          </div>
          <div class="carousel-item index__style-9">
            <img alt=""
                 src="{% static 'img/inspires/lab3.png' %}"
                 class="connect-to-parents__rounded" />
          </div>
          <div class="carousel-item index__style-9">
            <img alt=""
                 src="{% static 'img/inspires/lab4.png' %}"
                 class="connect-to-parents__rounded" />
          </div>
          <div class="carousel-item index__style-9">
            <img alt=""
                 src="{% static 'img/inspires/lab5.png' %}"
                 class="connect-to-parents__rounded" />
          </div>
          <div class="carousel-item index__style-9">
            <img alt=""
                 src="{% static 'img/inspires/lab6.jpg' %}"
                 class="connect-to-parents__rounded" />
          </div>
          <div class="carousel-item index__style-9">
            <img alt=""
                 src="{% static 'img/inspires/lab7.jpg' %}"
                 class="connect-to-parents__rounded" />
          </div>
          <div class="carousel-item index__style-9">
            <img alt=""
                 src="{% static 'img/inspires/lab8.jpg' %}"
                 class="connect-to-parents__rounded" />
          </div>
        </div>
        <!-- Controls overlay (don’t affect height) -->
        <button class="carousel-control-prev connect-to-parents__absolute"
                data-bs-slide="prev"
                data-bs-target="#carousellab"
                type="button">
          <span aria-hidden="true" class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next connect-to-parents__absolute"
                data-bs-slide="next"
                data-bs-target="#carousellab"
                type="button">
          <span aria-hidden="true" class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Right: Text (centered in column) -->
      <div class="connect-to-parents__flex-center">
        <!-- parent column is full height -->
        <div class="connect-to-parents__bg-white">
          <p class="section_paragraph connect-to-parents__style-1">
            <strong>NGS Global Network of Young Minds</strong>
          </p>
          <p class="section_paragraph connect-to-parents__style-2">
            A collaborative platform for students worldwide to innovate, create, and inspire the future together.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
