{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>{% include "website/sections/head.html" %}</head>
  <body class="font-sans text-gray-800 antialiased bg-gray-50">
    <!-- Header with Navigation -->
    {% include "website/sections/navbar.html" %}
    <!-- HERO -->
    <section class="hero section-font-style">
      <img src="{% static 'img/classroom.jpg' %}" alt="Graduates throwing caps">
    </section>
    <!-- NGS ONLINE DIPLOMA PROGRAM (fixed to 66vh) -->
    {% include "website/sections/form_online_diploma.html" %}
    <!-- NGS ONLINE DIPLOMA PROGRAM (exact 66vh) -->
    {% include "website/sections/intro_online_diploma.html" %}
    <!-- ADMISSIONS REQUIREMENT -->
    {% include "website/sections/addmissions_requirement.html" %}
    <!-- GLOBAL COMMUNITY -->
    {% include "website/sections/global_community.html" %}
    <!-- NGS Global Community -->
    {% include "website/sections/ngs_global.html" %}
    <!-- Social Media-->
    {% include "website/sections/media.html" %}
    <!-- Customer Service Button -->
    {% include "website/sections/customer_service.html" %}
    <!-- Footer -->
    {% include "website/sections/footer.html" %}
    <!-- JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
